* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #252525;
    color: rgb(59, 225, 225);
}
.login__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.container-main label {
    display: grid;
    align-items: center;
    padding-bottom: 2vh;
    gap: 2vh;
}
.container-main {
    background-color: #151515;
    display: grid;
    padding: 6.8vh 9.5vh;
    margin-top: 4.5vh;
    border-radius: 2vh;
}
.buttons__down {
    display: grid;
    justify-items: center;
    gap: 1.2vh;
}
.login-button {
    border: none;
    border-radius: 1vh;
    background-color: rgb(62, 201, 201);
    color: black;
    height: 2vw;
    width: 6vw;
    cursor: pointer;
}
.user_mascotas a, .user_index a {
    text-decoration: none;
    font-size: 0.9vw;
    color: rgb(55, 204, 221);   
}
.login__user input {
    background-color: #b0b0b0;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.login__user select {
    background-color: #b0b0b0;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}