* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome__message {
    width: 100%;
    height: 100%;
    background: rgb(88, 23, 179);
    background: linear-gradient(90deg, rgb(98, 93, 203) 0%, rgb(137, 78, 197) 0%, rgb(114, 84, 192) 35%, rgb(201, 75, 109) 100%);
    background-size: 300% 100%; 
    animation: gradient 6.5s ease infinite;
    position: absolute;
    z-index: 3;
}

.welcome__icon {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}
.welcome__icon img {
    filter: drop-shadow(1px 2px 5px rgb(255, 255, 255, .8));
    height: 35vh;
}
.welcome__message.loaded {
    animation: none;
    display: none;
}

/* ----------------KEYFRAMES---------------- */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}