* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.welcome__message {
    width: 100%;
    height: 100%;
    background: rgb(28,131,147);
    background: linear-gradient(124deg, rgba(28,131,147,1) 0%, rgba(39,114,166,1) 18%, rgba(52,146,186,1) 41%, rgba(67,176,200,1) 64%, rgba(47,130,180,1) 89%, rgba(23,133,155,1) 100%);
    background-size: 300% 100%;
    background-clip: border-box;
    animation: gradient 6.6s ease-in;
    position: absolute;
    z-index: 3;
    top: 0;
}

.welcome__icon {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}
.welcome__icon img {
    filter: drop-shadow(1px 2px 5px rgb(255, 255, 255, .8));
    height: 35vh;
}
.welcome__message.loaded {
    animation: none;
    animation-play-state: paused;
}

/* ----------------KEYFRAMES---------------- */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}